// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$lightgray:#f2f2f2 !default;
$gray:#606f78 !default;
$orange:#ff722a !default;
$textcolor:#606f78 !default;
$size:18px !default;
$black:black !default;